.todo .todos_list {
    text-align: center;
    font-size: 2em;
}

.todo .todos_list .nouvelle_tache {
display: flex;
align-content: center;
justify-content: center;
align-items: center;
}

.todo .todos_list .nouvelle_tache input[type="text"] {
    margin: 10px;
    font-size: 1em;
}

.todo .todos_list ul li {
    margin: 8px;
}

